.carousel-inner {
    height: 400px; /* Ajusta la altura según necesites */
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text_align_right_img .carousel {
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carousel-indicators {
    bottom: 0;
}
.carousel-inner {
    height: 600px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text_align_right_img .carousel {
    margin: 0;
    width: 100%;
}
